<nav>
    <header>
        <div class="interface navbar" id="navbar">
            <div class="logo">
                <a href="/">
                    <br>
                    <strong>
                    <p>CLÍNICA PSICOLÓGICA KACIELY</p>
                </strong>
                </a>
            </div><!--logo-->
            <nav class="menu-desktop">
                <br>
                <ul>
                    <strong>
                        <li><a href="/perfil">PERFIL</a></li>
                    </strong>
                </ul>
            </nav>
        </div><!--interface-->
    </header>
</nav>